
@{
    ViewBag.Title = "LogOn";
}
@if (ViewBag.Error != null)
{
    foreach (string s in (IEnumerable<string>)ViewBag.Error)
    {
        <div>Error: @s</div>
    }
}
@using (Html.BeginForm())
{
    <div class="jumbotron">
        <div class="container">
            <h2>Welcome Back!</h2>
            <br />
            <div>
                <label for="username">Username:</label>
                <input name="username" type="text" placeholder="Email Address"/>
            </div>
            <br />
            <div>
                <label for="password">Password:</label>
                <input name="password" type="password" placeholder="Password"/>
            </div>
            <br />
            <input type="submit" value="Log In" class="btn btn-primary" />
        </div>
    </div>
}


