@{

    ViewBag.Title = "Sign In";

}
@if (ViewBag.Error != null)
{
    foreach (string s in (IEnumerable<string>)ViewBag.Error)
    {
        <div>Error: @s</div>
    }
}
@using (Html.BeginForm())
{
    <div class="jumbotron">
        <div class="container">
            <div class="row">
            <div class="col-xs-6">
            <div>
                <label for="username">Username</label>
                <input name="username" type="text" />
            </div>           
            <div>
                <label for="password">Password</label>
                <input name="password" type="password" />
            </div>
            <br />
            <div>
                <label for="staySignedIn">Stay Signed In</label>
                <input name="staySignedIn" type="checkbox" />
            </div>
            <br />
            <input type="submit" value="Login" class="btn btn-primary" />            
            <div>
                <br />
                <div>
                    @Html.ActionLink("Recover your password", "ForgotPassword")
                </div>
                </div>
                </div>
                <div class="col-xs-6">
                    <img src="~/images/BeerPack.jpg" height="200" width="200"/>
                </div>
            </div>
            </div>
</div>
}