@{

    ViewBag.Title = "Sign In";

}
@if (ViewBag.Error != null)
{
    foreach (string s in (IEnumerable<string>)ViewBag.Error)
    {
        <div>Error: @s</div>
    }
}
@using (Html.BeginForm())
{
    <div>
        <label for="username">Username</label>
        <input name="username" type="text" />
    </div>

    <div>
        <label for="password">Password</label>
        <input name="password" type="password" />
    </div>
    <div>
        <label for="staySignedIn">Stay Signed In</label>
        <input name="staySignedIn" type="checkbox" />
    </div>
    <input type="submit" value="Login" />
}
<div>
    <div>
        @Html.ActionLink("Register for a new account", "Register")
    </div>
    <div>
        @Html.ActionLink("Recover your password", "ForgotPassword")
    </div>
</div>