
@{
    ViewBag.Title = "ResetPassword";
}
<div class="jumbotron">
    <div class="container">
        <h2>Reset Password</h2>
        <br />
        @using (Html.BeginForm())
        {
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" />
            <input type="submit" value="Reset" class="btn btn-primary"/>            
        }
    </div>
</div>