
@{
    ViewBag.Title = "Contact Us";
}

<main>
    <div class="jumbotron">
        <div class="container">
            <h1>Contact Us</h1>
            <form>
                <label for="firstName:">First Name</label>
                <input type="text" name="firstName" />
                <br />
                <label for="lastName:">Last Name</label>
                <input type="text" name="lastName" />
                <br />
                <label for="yourEmail:">Email</label>
                <input type="email" name="yourEmail" />
                <br />
                <label for="yourPhone:">Phone Number</label>
                <input type="tel" name="yourPhone" />
                <br />
                <label for="yourComments:">Comments</label>
                <input type="text" name="yourComments" />
                <br />
                <input type="submit" />
          </form>
        </div>
    </div>
</main>