@{
    ViewBag.Title = "About";
}
<main>
    <div class="jumbotron">
        <div class="container">
            <img src="~/images/About Us.jpg" width="1000" height="200"  />
            <br />    
            <p>About Us</p>
        </div>
    </div>
</main>
