
@{
    ViewBag.Title = "Beerbaskets";
}
<main>
    <div class="jumbotron">
        <div class="container">
            <h2>Beer Baskets</h2>
            <p>When we're talking thoughtful gifts for the craft beer drinker, there's not many that come close to a beer basket filled with delicious craft beer. 
            Seriously, who wouldn't want to down a few delicious craft beers while hanging with friends and family? 
            Beer baskets have become a customer favorite here at BeerPack. 
            And with great baskets for every season, it's easy to see why - our great selection of baskets, a wide variety of beers, and don't forget about the FREE SHIPPING!
            <br />
            Not to mention:</p>           
            <ul>           
                <li><p>Basket comes with an included note so you can lay some words down for your loved one.</p></li>
                <li><p>We do corporate orders, too. So everyone at the event or retreat can have some cold ones after a long day.</p></li>
            </ul>           
            <p>Forget about boring gift cards! Beer gift baskets make ideal gifts for the beer drinkers on your list. There's no denying the perfect gift baskets for men should start with some high quality craft brews, but women who drink beer love beer baskets, too.
            <br />
                With beer baskets designed for every season, region, reason and person on your gift list, you're sure to find the perfect one to send as a thoughtful gift. The only problem is choosing which beer gift basket to buy!
            <br />
                If you're ready to grab a beer basket for someone special, check out our selection below.</p>
            </div>
        </div>
</main>
