@{
    ViewBag.Title = "Contact Us";
}

<main>
    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-7">
            <h2>Contact Us</h2>
            <p>Do you have any questions or concerns about our beer selection or your shopping experience? 
            Here at BeerPack, our top priority is to make sure that you have the best shopping experience possible and we value your input.
            We even take suggestions so that we can not only expand our beer selections but also being the goto place to try a new craft beer or two. 
            Just fill out this form and we will contact you very shortly.</p>
            </div>
            <div class="col-sm-5">
            <form>
                <p><small>Required fields are marked with an asterisk*</small></p>
                <label for="firstName">*First Name:</label>
                <br />
                <input type="text" name="firstName" required/>
                <br />
                <br />
                <label for="lastName">*Last Name:</label>
                <br />
                <input type="text" name="lastName" required/>
                <br />
                <br />
                <label for="yourEmail">*Email:</label>
                <br />
                <input type="email" name="yourEmail" required/>
                <br />
                <br />
                <label for="yourPhone">Phone Number:</label>
                <br />
                <input type="tel" name="yourPhone" />
                <br />
                <br />
                <label for="yourComments">*Comments:</label>
                <br />
                <textarea placeholder="Write your comments here..." required></textarea>
                <br />
                <br />
                <input type="submit" class="btn btn-primary"/>
            </form>
            </div>
        </div>
    </div>
</main>
