@{
    ViewBag.Title = "Home Page";
}
<main>
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-8">
                <h1>Welcome to BeerPack!</h1>
                <p>We're Chicagoland's fastest growing e-commerce website in selling high quality beer to new
                    Beer Enthusiasts that want to try something outside of the box. We have highly trained enthusiasts and professionals dedicated to supporting and promoting better beer quality.</p>
           </div>
           <div class="col-xs-4">
                <a class="img-thumbnail"><img src="~/images/BeerPack.jpg" /></a>
           </div>
        </div>
    </div>
</main>