@{
    ViewBag.Title = "Home Page";
}
<main>
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, World!</h1>
           <a class="img-thumbnail"><img src="~/images/BeerPack.jpg" /></a>
        </div>
    </div>

</main>