body {
    background-image: url(/images/background%20image.jpg);
    background-repeat: no-repeat;
}

a.navbar-brand {
    padding: 3px;
}

#bs-example-navbar-collapse-1 {
    font-family: Rye-Regular;
    font-size: larger;
}

#wrapper {margin-left: auto;
		margin-right: auto;
		width: 80%;
		/*background-color: #fff;*/
		min-width: 400px; max-width: 2048px;
		}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: rgba(230,230,230,0.5);
}

.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    width: auto;
}

.carousel-inner > .item > img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: initial;
    max-width: initial;
    height: 500px;
}

footer {
    color: black;
}

@font-face{
    font-family: Rye-Regular;
    src: url('../fonts/Rye-Regular.ttf');
}
